.jumbotron {
    background: url('..//img/135-1354924_delivery-truck-icon-truck-delivery-png.png') center center;
    background-size:   contain;    
    text-align: center;
    padding: 100px 20px;
    margin-bottom: 0;
}
