.jumbotron {
    background: url('..//img/135-1354924_delivery-truck-icon-truck-delivery-png.png') center center;
    background-size:   contain;    
    text-align: center;
    padding: 100px 20px;
    margin-bottom: 0;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}